/* application */
body {
  font-family: 'Noto Sans TC', 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  box-sizing: border-box;
  position: relative;
}

/* icon */
.icon {
	display: inline-block;
  position: relative;
	background-repeat: no-repeat;
	fill: #444444;
}

.icon-small {
  width: 20px;
  height: 20px;
  top: 6px;
  background-size: 100%;
}

.icon-facebook {
	background-image: url('./../image/icon-facebook.svg');
}

.icon-instagram {
	background-image: url('./../image/icon-instagram.svg');
}

.icon-email {
	background-image: url('./../image/icon-email.svg');
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

/* Main content */
.redirect-text {
  display: block;
  text-align: center;
}

.handmade-fiber-pic {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.handmade-fiber-pic > img {
  width: 100%;
  height: auto;
}

.contact {
  width: 300px;
  margin: 20px auto;
}

.contact > i {
  margin-right: 8px;
}

/* footer */
footer {
  width: 100%;
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 10px 0 5px;
}

/* mobile */
@media (min-width: 300px) {
  .redirect-text{
    line-height: 60px;
  }
  footer {
    height: 130px;
  }
}

/* medium */
@media (min-width: 600px) {
  .redirect-text{
    line-height: 30px;
  }
  footer {
    height: 20px;
  }
  .contact {
    display: none;
  }
}
